/**
  Scss全局变量
 */
$font-size: 12px;
$color: #3c3c3c;
$line-height: 1.2em;

$scrollbar-width: 6px; // 滚动条宽度
$scrollbar-track-radius: 6px; // 滚动条轨道圆角弧度
$scrollbar-track-color: transparent; // 滚动条轨道颜色
$scrollbar-thumb-radius: 6px; // 滚动条滑块圆角弧度
$scrollbar-thumb-color: #8c8c8c; // 滚动条滑块颜色

/**
  Css全局变量
 */
:root {
  --font-size: #{$font-size};
  --color: #{$color};
  --line-height: #{$line-height};

  --scrollbar-width: #{$scrollbar-width};
  --scrollbar-track-radius: #{$scrollbar-track-radius};
  --scrollbar-track-color: #{$scrollbar-track-color};
  --scrollbar-thumb-radius: #{$scrollbar-thumb-radius};
  --scrollbar-thumb-color: #{$scrollbar-thumb-color};
}
